<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle with Markers</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <h1>Circle with Y-Position Markers</h1>
      <div class="canvas-wrapper">
        <div class="canvas-container">

          <div class="canvas-container">
              <h2>Canvas 1</h2>
              <canvas id="circleCanvas1" width="500" height="400"></canvas>
              <div id="div1">
                  <p class="w-min text-white">Marker Y-Values:</p>
                  <div class="w-min text-white" id="markerYValueData1"></div>
              </div>
            </div>
        </div>
    </div>
    
    <script src="script.js"></script>
  </body>
  </html>